<div class="edit-link-form">
  <h2>Edit Link <%= @link.name %></h2>
  <%= form_for(@link) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: @link.name %>
    <%= f.label :url %>
    <%= f.text_field :url, placeholder: @link.url %>
    <%= f.submit "Update Link" %>
  <% end %>
</div>
