<h1>Your Links</h1>
<div class="new-link-form">
  <h2>Create a new link</h2>
  <%= form_for(@link) do |f| %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.text_field :url, placeholder: "URL" %>
    <%= f.submit "Create Link" %>
  <% end %>
</div>

<input id="searchBar" type="text" class="form-control" placeholder="Search" />
<button type="button" id="clearSearch" class="btn btn-primary">Clear</button>

<div class="links">
  <div class="list-group">
  <% @links.each do |link| %>
        <% if link.read %>
          <div class="link-<%= link.id %> read-link link list-group-item">
            <h4><%= link.name %></h4>
            <p><a href=<%= link.url %>><%= link.url %></a></p>
            <button class="unread" id="<%= link.id %>">Mark as unread</button>
            <%= link_to "Edit Link", edit_link_path(link) %>
          </div>
        <% else %>
          <div class="link-<%= link.id %> unread-link link">
            <h4><%= link.name %></h4>
            <p><a href=<%= link.url %>><%= link.url %></a></p>
            <button class="read" id="<%= link.id %>">Mark as read</button>
            <%= link_to "Edit Link", edit_link_path(link) %>
          </div>
        <% end %>
  <% end %>
  </div>
</div>
