<h1>Your Links</h1>
<div class="new-link-form">
  <h2>Create a new link</h2>
  <%= form_for(@link) do |f| %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.text_field :url, placeholder: "URL" %>
    <%= f.submit "Create Link" %>
  <% end %>
</div>
<div class="links">
  <ul>
  <% @links.each do |link| %>
        <% if link.read %>
          <li class="link-<%= link.id %> read-link">
            <%= link.name %>
            <a href=<%= link.url %>><%= link.url %></a>
            <button class="unread" id="<%= link.id %>">Mark as unread</button>
            <%= link_to "Edit Link", edit_link_path(link) %>
          </li>
        <% else %>
          <li class="link-<%= link.id %> unread-link">
            <%= link.name %>
            <a href=<%= link.url %>><%= link.url %></a>
            <button class="read" id="<%= link.id %>">Mark as read</button>
            <%= link_to "Edit Link", edit_link_path(link) %>
          </li>
        <% end %>
  <% end %>
  </ul>
</div>
