<h1>Your Links</h1>
<div class="new-link-form">
  <h2>Create a new link</h2>
  <%= form_for(@link) do |f| %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.text_field :url, placeholder: "URL" %>
    <%= f.submit "Create Link" %>
  <% end %>
</div>
<ul>
<% @links.each do |link| %>
    <li class="link-<%= link.id %>">
      <% if link.read %>
      <strike>
        <%= link.name %>
        <a href=<%= link.url %>><%= link.url %></a>
        <button id="link-<%= link.id %>-unread">Mark as unread</button>
      </strike>
      <% else %>
        <%= link.name %>
        <a href=<%= link.url %>><%= link.url %></a>
        <button id="link-<%= link.id %>-read">Mark as read</button>
      <% end %>
    </li>
<% end %>
</ul>
